RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<files ~ "^.*\.json|.*\.yml|.*\.lock">
    order allow,deny
    deny from all
</files>

Options All -Indexes